

<div class="row align-items-ed mb-5">
    <div class="col-12 text-end">
        <button class="btn btn-light me-2" (click)="sortByDate()">Data 
            <span>
                @if (currentSort === 'date-asc') {
                  <fa-icon [icon]="faSortUp"></fa-icon>
                } @else {
                  <fa-icon [icon]="faSortDown"></fa-icon>
                }
              </span>
          </button>
          <button class="btn btn-light me-2" (click)="sortByPrice()">Import
            <span>
              @if (currentSort === 'price-asc') {
                <fa-icon [icon]="faSortUp"></fa-icon>
              } @else {
                <fa-icon [icon]="faSortDown"></fa-icon>
              }
            </span>
          </button>
          <button class="btn btn-light me-2" (click)="sortByName()">Nom 
            <span>
              @if (currentSort === 'name-asc') {
                <fa-icon [icon]="faSortUp"></fa-icon>
              } @else {
                <fa-icon [icon]="faSortDown"></fa-icon>
              }
            </span>
          </button>
    </div>   
</div>

  
  
  
