<div class="container">
    <div class="row mb-5">
      <div class="col-12 d-flex align-items-center justify-content-end ">
        <!-- Filter input -->
        <div class="input-group w-auto me-3">
          <input type="text" class="form-control" placeholder="Cercar per nom..." [(ngModel)]="searchQuery" (input)="onSearch()" />
          <span class="input-group-text">
            <fa-icon [icon]="faSearch"></fa-icon>
          </span>
        </div>
        <!-- Sort Btn -->
        <div class="d-flex">
          <button class="btn btn-light me-2" [ngClass]="{ 'fw-bold': currentSort === 'date-asc' || currentSort === 'date-desc' }" (click)="sortByDate()">
            Data
            <span>
              @if (currentSort === 'date-asc') {
                <fa-icon [icon]="faSortUp"></fa-icon>
              } @else {
                <fa-icon [icon]="faSortDown"></fa-icon>
              }
            </span>
          </button>
          <button class="btn btn-light me-2" [ngClass]="{ 'fw-bold': currentSort === 'price-asc' || currentSort === 'price-desc' }" (click)="sortByPrice()">
            Import
            <span>
              @if (currentSort === 'price-asc') {
                <fa-icon [icon]="faSortUp"></fa-icon>
              } @else {
                <fa-icon [icon]="faSortDown"></fa-icon>
              }
            </span>
          </button>
          <button class="btn btn-light" [ngClass]="{ 'fw-bold': currentSort === 'name-asc' || currentSort === 'name-desc' }" (click)="sortByName()">
            Nom
            <span>
              @if (currentSort === 'name-asc') {
                <fa-icon [icon]="faSortUp"></fa-icon>
              } @else {
                <fa-icon [icon]="faSortDown"></fa-icon>
              }
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
