<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-4">Pressupostos en curs:</h2>
    </div>
  </div>

  <app-sort-buttons></app-sort-buttons>

  <div class="row">
    @if (budgets().length > 0) {
      @for (budget of budgets(); track $index) {
        <div class="card mb-5">
          <div class="card-body">
            <div class="row">
              <!-- Columna de Información del Usuario -->
              <div class="col-4">
                <h3>{{ budget.name }}</h3>
                <p class="text-muted">Email: {{ budget.email }}</p>
                <p class="text-muted">Telèfon: {{ budget.phone }}</p>
              </div>
              <!-- Columna de Servicios -->
              <div class="col-5">
                <p class="fw-bold">Serveis contractats:</p>
                <ul>
                  @for (service of budget.services; track $index) {
                    <li>{{ service }}</li>
                  }
                </ul>
              </div>
              <!-- Columna de Precio Total -->
              <div class="col-3 text-end">
                <h4 class="text-muted">Total:</h4>
                <h2 class="fw-bold">{{ budget.totalPrice }} €</h2>
              </div>
                <!-- Share button - usamos [] para construir una ruta dinámica -->
                <div class="col-auto share-btn">
                  <button mat-raised-button color="primary" class="custom-share-btn" [routerLink]="['/budgetDetail', budget.id]"> 
                    <span class="material-icons">share</span>
                    Compartir
                  </button>
                </div>
            </div>
          </div>
        </div>
      }
    } @else {
      <p class="mb-5">No hi ha pressupostos encara</p>
    }
  </div>
</div>

  




  